<!doctype html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Profile</title>

    <style>
        .material-symbols-outlined {
            font-variation-settings: 'FILL' 0,
            'wght' 400,
            'GRAD' 0,
            'opsz' 48
        }

        .material-symbols-outlined-fill {
            font-variation-settings: 'FILL' 1,
            'wght' 400,
            'GRAD' 0,
            'opsz' 48
        }

        .box {
            width: 150px;
            height: 150px;
            border-radius: 70%;
            overflow: hidden;
        }

        .profile {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .modal_overlay {
            width: 100%;
            height: 100%;
            position: absolute;
            left: 0;
            top: 0;
            display: none;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background: rgba(0, 0, 0, 0.8);
            backdrop-filter: blur(1.5px);
            -webkit-backdrop-filter: blur(1.5px);
        }

        .modal_window {
            background: white;
            backdrop-filter: blur(13.5px);
            -webkit-backdrop-filter: blur(13.5px);
            border-radius: 10px;
            border: 1px solid rgba(255, 255, 255, 0.18);
            width: 800px;
            height: 600px;
            position: relative;
            padding: 10px;
        }
    </style>

    {% load static %}

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <!-- google material icon -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />

    <!-- JQuery -->
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
</head>
<body>
    <!-- 상단 네비게이션 -->
    <nav class="navbar navbar-expand-lg bg-light" style="position: fixed; width: 100%">
        <div class="container-fluid" style="justify-content: space-between; flex-wrap: nowrap; min-width: 1000px; background-color: white">
            <a class="navbar-brand" href="/main/"><img style="width: 100px"
                                                  src="https://fontmeme.com/images/instagram-new-logo.png"></a>

            <input class="form-control me-2" style="width: 400px" type="search" placeholder="Search" aria-label="Search">

            <!-- nav icons -->
            <div style="display: flex">
                <a href="/main/" style="color: black"><span class="material-symbols-outlined" style="padding-right: 10px">home</span></a>
                <span id="nav_bar_add_box" class="material-symbols-outlined" style="padding-right: 10px; cursor: pointer;">add_box</span>

                <div class="dropdown">
                    <a href="#" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false">
                        <div class="box" style="width: 25px; height: 25px">
                            <img class="profile"
                                 src="{% get_media_prefix %}{{ user.profile_image }}">
                        </div>
                    </a>

                    <ul class="dropdown-menu" style="left: -160px">
                        <li><a class="dropdown-item" href="#">프로필</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="/user/logout">로그아웃</a></li>
                    </ul>
                </div>


            </div>
        </div>
    </nav>

    <div style="display: flex; flex-direction: row; text-align: center; justify-content: center; padding-top: 80px; background-color: #FAFAFA">
        <div style="padding: 20px 60px">
            <div class="box" style="width: 175px; height: 175px">
                            <img class="profile"
                                 src="{% get_media_prefix %}{{ user.profile_image }}">
                        </div>
        </div>
        <div style="text-align: left">
            <div style="display: flex; flex-direction: row; margin: 20px 0;">
                <div style="font-size: 25px; margin: 0 20px">
                    {{ user.nickname }}
                </div>
                <button id="button_profile_upload" style="margin: 0 20px">프로필 사진 변경</button>
                <input type="file" id="input_file_upload" onchange="profile_upload();" style="display: none;"/>
                <span class="material-symbols-outlined" style="margin: 0 20px">settings</span>
            </div>
            <div style="margin: 10px 0">
                게시물 3 팔로워 10 팔로잉 15
            </div>
            <div style="margin: 10px 0;">
                <b>{{ user.name }}</b>
            </div>
        </div>
    </div>

    <!-- 피드 선택 바 -->
    <div style="border-top: solid 2px rgba(50, 50, 50, 0.1); width: 100%;">
        <div style="display: flex; flex-direction: row; justify-content: center;">
            <div id="button_feed_list" style="display:flex; flex-direction: row; align-items: center; margin: 10px 30px; cursor: pointer; font-weight: bold;"><span class="material-symbols-outlined">calendar_view_month</span>&nbsp;내 게시물</div>
            <div id="button_liked_feed_list" style="display:flex; flex-direction: row; align-items: center; margin: 10px 30px; cursor: pointer;"><span class="material-symbols-outlined">favorite</span>&nbsp;좋아요</div>
            <div id="button_marked_feed_list" style="display:flex; flex-direction: row; align-items: center; margin: 10px 30px; cursor: pointer;"><span class="material-symbols-outlined">bookmark</span>&nbsp;북마크</div>
        </div>
    </div>

    <!-- 내 피드 리스트 -->
    <div id="feed_list" style="width: 100%; min-width: 1100px; display: flex; justify-content: center">
        <div style="width: 1100px; display: flex; flex-direction: row; flex-wrap: wrap;">
            {% for feed in feed_list %}
                <div style="margin: 5px; width: 350px; height: 250px; background-color: #FAFAFA">
                    <img style="width: 350px; height: 250px;object-fit: contain;" src="{% get_media_prefix %}{{ feed.image }}">
                </div>
            {% endfor %}
        </div>
    </div>
    <!-- 좋아요 피드 리스트 -->
    <div id="liked_feed_list" style="width: 100%; min-width: 1100px; display: none; justify-content: center">
        <div style="width: 1100px; display: flex; flex-direction: row; flex-wrap: wrap;">
            {% for feed in liked_feed_list %}
                <div style="margin: 5px; width: 350px; height: 250px; background-color: #FAFAFA">
                    <img style="width: 350px; height: 250px;object-fit: contain;" src="{% get_media_prefix %}{{ feed.image }}">
                </div>
            {% endfor %}
        </div>
    </div>
    <!-- 북마크 피드 리스트 -->
    <div id="marked_feed_list" style="width: 100%; min-width: 1100px; display: none; justify-content: center">
        <div style="width: 1100px; display: flex; flex-direction: row; flex-wrap: wrap;">
            {% for feed in marked_feed_list %}
                <div style="margin: 5px; width: 350px; height: 250px; background-color: #FAFAFA">
                    <img style="width: 350px; height: 250px;object-fit: contain;" src="{% get_media_prefix %}{{ feed.image }}">
                </div>
            {% endfor %}
        </div>
    </div>

    <!-- 사진 업로드 모달 창 -->
    <div id="first_modal" class="modal_overlay">
        <div class="modal_window">
            <div style="border-bottom: solid 1px gray; display: flex; flex-direction: row; justify-content: space-between">
                <div style="width: 40px">
                    <!-- 공백 -->
                </div>
                <div>
                    새 이미지
                </div>
                <div style="width: 40px">
                    <span class="material-symbols-outlined modal_close">close</span>
                </div>
            </div>
            <div class="image_upload_space" style="width: 780px; height: 540px; margin-top: 10px">

            </div>
        </div>
    </div>

    <!-- 이미지 정보 입력 모달 창-->
    <div id="second_modal" class="modal_overlay">
        <div class="modal_window">
            <div style="border-bottom: solid 1px gray; display: flex; flex-direction: row; justify-content: space-between">
                <div style="width: 40px">
                    <!-- 공백 -->
                </div>
                <div>
                    새 이미지
                </div>
                <div style="width: 40px">
                    <span class="material-symbols-outlined modal_close">close</span>
                </div>
            </div>
            <div style="display: flex; flex-direction: row">
                <div class="image_upload_space" style="width: 500px; height: 540px; margin-top: 10px"></div>
                <div style="border-left: solid 1px gray">
                    <div>
                        <textarea id="feed_create_content" class="form-control" style="width: 275px; height: 400px"></textarea>
                    </div>
                    <button type="button" id="feed_create_button" class="btn btn-primary" style="width: 100%">공유하기</button>
                </div>
            </div>
        </div>
    </div>

    <script>
        <!-- file 전역변수 선언 -->
        let files;

        <!-- 피드 리스트 호출 -->
        $('#button_feed_list').click(function (){
            $('#feed_list').css({
                display : 'flex'
            });
            $('#liked_feed_list').css({
                display : 'none'
            });
            $('#marked_feed_list').css({
                display : 'none'
            });
            $('#button_feed_list').css({
                'font-weight': 'bold'
            });
            $('#button_liked_feed_list').css({
                'font-weight': 'normal'
            });
            $('#button_marked_feed_list').css({
                'font-weight': 'normal'
            });

        });
        $('#button_liked_feed_list').click(function (){
            $('#feed_list').css({
                display : 'none'
            });
            $('#liked_feed_list').css({
                display : 'flex'
            });
            $('#marked_feed_list').css({
                display : 'none'
            });
            $('#button_feed_list').css({
                'font-weight': 'normal'
            });
            $('#button_liked_feed_list').css({
                'font-weight': 'bold'
            });
            $('#button_marked_feed_list').css({
                'font-weight': 'normal'
            });
        });
        $('#button_marked_feed_list').click(function (){
            $('#feed_list').css({
                display : 'none'
            });
            $('#liked_feed_list').css({
                display : 'none'
            });
            $('#marked_feed_list').css({
                display : 'flex'
            });
            $('#button_feed_list').css({
                'font-weight': 'normal'
            });
            $('#button_liked_feed_list').css({
                'font-weight': 'normal'
            });
            $('#button_marked_feed_list').css({
                'font-weight': 'bold'
            });
        });

        <!-- +버튼을 누르면 모달 창이 뜨게 하는 함수 -->
        $('#nav_bar_add_box').click(function (){
            $('#first_modal').css({
                display: 'flex',
            });

            $(document.body).css({
                overflow: 'hidden',
            });
        });

        <!-- 모달 닫기 -->
        $('.modal_close').click(function (){
            $('#first_modal').css({
                display: 'none'
            });
            $('#second_modal').css({
                display: 'none'
            });
            $('.image_upload_space').css({
                    "background-image": "None",
                    "background-color": "white",
                });
        });

        <!-- 모달 창에 이미지 업로드 -->
        $('.image_upload_space')
            .on("dragover", dragOver)
            .on("dragleave", dragOver)
            .on("drop", uploadFiles);

        function dragOver(e) {
            e.stopPropagation();
            e.preventDefault();

            if (e.type == "dragover") {
                $(e.target).css({
                    "background-color": "black",
                    "outline-offset": "-20px"
                });
            } else {
                $(e.target).css({
                    "background-color": "white",
                    "outline-offset": "-10px"
                });
            }
        }

        <!-- 이미지 업로드 시 모달 css 변경 -->
        function uploadFiles(e) {
            e.stopPropagation();
            e.preventDefault();

            e.dataTransfer = e.originalEvent.dataTransfer; //2
            files = e.target.files || e.dataTransfer.files;

            if (files.length > 1) {
                alert('하나만 올려라.');
                return;
            }

            if (files[0].type.match(/image.*/)) {
                $('#first_modal').css({
                    display: 'none',
                });
                $('#second_modal').css({
                    display: 'flex',
                });

                $('.image_upload_space').css({
                    "background-image": "url(" + window.URL.createObjectURL(files[0]) + ")",
                    "outline": "none",
                    "background-size": "100%",
                    "background-repeat": "no-repeat",
                    "background-position": "center",
                });
            } else {
                alert('이미지가 아닙니다.');
                return;
            }
        }

        <!-- 피드 생성 버튼 -->
        $('#feed_create_button').click(function (){
            alert("공유하기 버튼 클릭" + $('#feed_create_content').val());
            let file = files[0];
            let image = files[0].name;
            let content = $('#feed_create_content').val();

            <!-- Restful API 에서 단순 데이터는 json, 파일 데이터는 form data 형태로 주고 받는다. -->

            let fd = new FormData();
            fd.append('file', file);
            fd.append('image', image);
            fd.append('content', content);

            $.ajax({
                url: "/content/upload/",
                data: fd,
                method: "POST",
                processData: false,
                contentType: false,
                success: function (data){
                    console.log("SUCCESS");
                },
                error: function (request, status, error){
                    console.log("ERROR");
                },
                <!-- complete는 성공 실패 관련없이 작업 수행 완료시 실행 -->
                complete: function (){
                    console.log("DONE");
                    location.replace("/main/");
                }
            });
        });

        <!-- 프로필 사진 변경 버튼 누를 시 숨겨져 있는 input 폼 실행 -->
        $('#button_profile_upload').click(function (){
            $('#input_file_upload').click();
        });

        <!-- 프로필 파일 변경 -->
        function profile_upload(){
            let file = $('#input_file_upload')[0].files[0];
            let email = "{{ user.email }}";

            let fd = new FormData();
            fd.append('file', file);
            fd.append('email', email);

            $.ajax({
                url: "/user/profile/upload/",
                data: fd,
                method: "POST",
                processData: false,
                contentType: false,
                success: function (data){
                    console.log("SUCCESS");
                },
                error: function (request, status, error){
                    console.log("ERROR");
                },
                <!-- complete는 성공 실패 관련없이 작업 수행 완료시 실행 -->
                complete: function (){
                    console.log("DONE");
                    location.replace("/content/profile/");
                }
            });
        }

    </script>
</body>
</html>