<!doctype html>
<html lang="ko">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Register</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">

      <!-- JQuery -->
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>

  </head>
  <body style="background-color: #FAFAFA">
    <div style="display: flex; flex-direction: column; align-items: center; width: 100%; margin-top: 100px;">
        <!-- 첫 번째 박스 -->
        <div style="text-align: center; border: solid 1px rgba(219,219,219, 1); width: 400px; background-color: white; padding: 20px">
            <div>
                <img style="width: 200px" src="https://fontmeme.com/images/instagram-new-logo.png">
            </div>
            <div style="font-weight: bold; color: gray">
                친구들의 사진과 동영상을 보려면 가입하세요.
            </div>
            <div style="padding: 20px">
                <div class="form-floating mb-3">
                    <input id="input_email" type="email" class="form-control" placeholder="휴대폰 또는 이메일 주소">
                    <label for="input_email">휴대폰 또는 이메일 주소</label>
                </div>
                <div class="form-floating mb-3">
                    <input id="input_name" type="text" class="form-control" placeholder="성명">
                    <label for="input_name">성명</label>
                </div>
                <div class="form-floating mb-3">
                    <input id="input_nickname" type="text" class="form-control" placeholder="사용자 이름">
                    <label for="input_nickname">사용자 이름</label>
                </div>
                <div class="form-floating">
                    <input id="input_password" type="password" class="form-control"placeholder="비밀번호">
                    <label for="input_password">비밀번호</label>
                </div>
            </div>
            <button id=register_button type="button" class="btn btn-primary" style="width: 80%">가입</button>
        </div>
        <!-- 두 번째 박스 -->
        <div style="text-align: center; border: solid 1px rgba(219,219,219, 1); width: 400px; background-color: white; padding: 20px; margin-top: 20px">
            계정이 있으신가요? <a href="../login/" style="text-decoration-line: none">로그인</a>
        </div>
    </div>

    <script>
        $('#register_button').click(function (){
            email = $('#input_email').val();
            name =$('#input_name').val();
            nickname = $('#input_nickname').val();
            password = $('#input_password').val();

           console.log(email, name, nickname, password)

            $.ajax({
                url: "/user/register/",
                data: {
                    email: email,
                    name: name,
                    nickname: nickname,
                    password: password,
                },
                method: "POST",
                success: function (data){
                    console.log("SUCCESS");
                    alert("회원가입 성공! 로그인창으로 이동합니다.");
                    location.replace('/user/login/');
                },
                error: function (request, status, error){
                    console.log("ERROR");
                },
                <!-- complete는 성공 실패 관련없이 작업 수행 완료시 실행 -->
                complete: function (){
                    console.log("DONE");
                }
            });
        });
    </script>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
  </body>
</html>